<section class="container hero-section d-flex align-items-center mt-5 ">
    <div class="row g-0 p-md-5 p-3 hero-wrapper shadow-sm bg-body rounded">
        <div class="col col-md-7 d-flex align-items-center">
            <div class="pe-md-4">
                <h3 class="fw-bold">Hi Welcome to my hut</h3>

                <p class="hero-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias animi iste
                    tempore aspernatur unde
                    similique ad repellat molestiae laborum velit, voluptatum atque illum odio nihil reprehenderit
                    perspiciatis? Vero, dolorum tempora.</p>
                <div class="d-flex mt-4">
                    <a class="btn bg-dark text-white rounded-pill btn-p-rounded" href="/contact">contact</a>
                    <a class="btn d-flex button-download" href=""><span>Download CV</span><img class="ms-2"
                            src="/public/assets/icons/download.svg" /></a>
                </div>
                <div class="hero-social-media d-flex mt-4 mb-4 mb-md-0 justify-content-center justify-content-md-start">
                    <a class="me-3 " href="/"><img class="social-media-icon"
                            src="/public/assets/icons/linkedin.svg" /></a>
                    <a class="me-3 " href="/"><img class="social-media-icon"
                            src="/public/assets/icons/instagram.svg" /></a>
                    <a class="me-3" href="/"><img class="social-media-icon"
                            src="/public/assets/icons/facebook.svg" /></a>
                    <a href="/"><img class="social-media-icon" src="/public/assets/icons/twitter.svg" /></a>
                </div>
            </div>

        </div>
        <div class="col-md-5 d-flex d-md-block justify-content-center col-12">
            <div class="card border-0 card-profile ms-md-auto ">
                <div class="card-profile-inner shadow-lg">
                    <div class="card-profile-front">
                        <img src="/public/assets/projects/profile.jpg" class="card-img-top card-profile-img" alt="...">
                        <div
                            class="card-body card-profile-body py-0 d-flex justify-content-center flex-column text-center">
                            <h5 class="card-title fw-bold">Hasan Romadon</h5>
                            <p class="card-text">Fullstack Developer</p>
                        </div>
                    </div>
                    <div class="card-profile-back rounded d-flex justify-content-center align-items-center ">
                        <img src="https://dumbways.id/assets/images/brandwhite.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>