<section class="container my-5">
    <h3 class="text-center fw-bolder">GET IN TOUCH</h3>
    <div class="row justify-content-center ">
        <div class="col-5">
            <form class="form-add-project pt-3">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-bold fw-bold">Name</label>
                    <input type="email" class="form-control shadow" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-bold fw-bold">Email</label>
                    <input type="email" class="form-control shadow" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-bold fw-bold">Phone Number</label>
                    <input type="email" class="form-control shadow" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-bold fw-bold">Subject</label>
                    <select class="form-select shadow" aria-label="Default select example">
                        <option value="1">Let's Talk</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label text-bold fw-bold">Your Message</label>
                    <textarea class="form-control shadow" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
                <button type="submit"
                    class="btn d-block ms-auto rounded-pill btn-p-rounded bg-dark text-white">Submit</button>
            </form>
        </div>

    </div>
</section>