/* general sytle */

body {
    background-color: #E3E7EB;
    font-family: 'Poppins', sans-serif;
}
/* *{
    outline: 1px solid salmon;
} */

.btn-p-rounded {
    padding-right: 24px;
    padding-left: 24px;
}

.button-download {
    width: max-content;
}


.nav-link {
    font-weight: 600;
}

.hero-text {
    text-align: justify;
}

.container{
    padding: 0 60px;
    
}
@media screen and (max-width: 768px) {
    .container {
        padding: 0 8px;
    }
}

.social-media-icon {
    transition: transform .3s; 
}
.social-media-icon:hover{
    transform: translateY(-8px);
    transition: transform .3s;
}

.card-profile {
    width: 260px;
    height: 360px;
    perspective: 1000px;
}

.card-profile:hover .card-profile-inner {
    transform: rotateY(180deg);
}

.card-profile-img {
    height: 80%;
}

.card-profile-body {
    height: 20%;
}

.card-profile-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-profile-front, .card-profile-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-profile-back {
    color: white;
    transform: rotateY(180deg);
    background-color: #fe4e30;
}

.card-profile-back img {
    width: 100px;
    height: auto;
}

.card-project {
    height: 580px;
}

.card-title-link {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 18px;
}

.card-photo-wrapper {
    height: 50%;
    overflow: hidden;
}

.card-project-photo {
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}
.card-project-body {
    height: 50%;
}

.card-action .btn {
    width: 100%;
}

.card-technologies img {
    width: 24px;
}
.card-technologies img:not(:last-child) {
    margin-right: 16px;
}

textarea {
    resize: none;
}

input[type="file"]  {
    background-image: url('/public/assets/icons/upload.svg');
    background-origin: padding-box;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-position: center right 10px;
}
select {
    background-image: url('/public/assets/icons/chevron.svg') !important;
}



/* detail */

.detail-image {
    height: 450px;
   
}

.detail-image img {
    object-fit: cover;
    cursor: pointer;
}

.icon-detail {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.card-photo-wrapper:hover .card-project-photo {
    transform: scale(1.2);
    transition: transform .3s;
}


/* edit */
.image-edit-wrapper {
    width: 200px;
    height: 100px;
    overflow: hidden;

}
.image-edit {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* keyframe */

.button-download {
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}


@keyframes upDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}
